<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <title>正经海参搞 IT</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <h1 class="col-4 offset-4" >
                欢迎光临红浪漫
            </h1>
        </div>

        <div class="row">
            <div class="col-2 offset-4">这里是正经海参搞 IT</div>
            <div class="col-3" style="background-color: aqua;">当前时间：{{now_dt}}</div>
        </div>
            <a class="col-4 offset-2 btn bg-success" href="/server_list">我要服务器列表</a>
            <a class="col-4 btn bg-warning" href="/api/server">我要服务器 JSON 数据</a>
    </div>
</body>

</html>
