<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <title>西瓜甜</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
                <h1 class="col-4 offset-4">服务器基础信息</h1>
        </div>
        <div row>
            <button class="btn btn-warning col-md2 offset-2">{{cache}}</button>
            <a href="/cache" class="btn btn-danger col-md-2">验证使用缓存的效果</a>

            <button class="btn btn-warning col-md2">{{dt}}</button>
            <a href="/" class="btn btn-success col-md-2">返回首页</a>
        </div>

        <div class="row">
            <div class="col-8 offset-2">


                <table class="table table-condensed table-hover table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>id</th>
                            <th>主机名</th>
                            <th>操作系统</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{table_tr}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
